body {
  font-family: "Arial", sans-serif;
  border: 2px solid grey;
}
/* Container for the image and text */
.image-container {
  position: relative;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
}

/* Style for the image */
.image-container img {
  /* width: 100%; */
  height: auto;
  display: block;
  max-width: 100%;
}
.clarity-top {
  position: absolute;
  top: 12%;
  left: 39%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 21px; /* Adjust as needed */
  text-align: center;
}
.text-overlay1 {
  position: absolute;
  top: 14%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 19px; /* Adjust as needed */
  text-align: center;
}
/* Style for the text overlay */
.text-overlay {
  position: absolute;
  top: 23%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 19px; /* Adjust as needed */
  text-align: center;
  opacity: 0.9;
}
.text-overlay2 {
  position: absolute;
  top: 29%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px; /* Adjust as needed */
  text-align: left;
  font-weight: 50;
  opacity: 0.7;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.form-top {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  left: 49%;
  font-size: 24px;
}
.form-input1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-weight: bold;
  opacity: 0.65;
  top: 25%;
  left: 49%;
}
.form--input1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27%;
  left: 49%;
  width: 484px;
  height: 50px;
}
.form-input2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-weight: bold;
  opacity: 0.65;
  top: 32%;
  left: 49%;
}
.forgotpwd a {
  position: absolute;
  top: 27%;
  left: 477%;
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none;
  /* color: #bfc1d2; */
  /* color: #0b0303; */
  color: #594f4f;
  font-weight: bold;
}
.form--input2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34%;
  left: 49%;
  width: 484px;
  /* height: 100px; */
}
.eyelogo {
  position: absolute;
  top: 21%;
  left: 93%;
  height: 12px;
  width: 21px;
  font-size: 14px;
}
.checkbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-weight: bold;
  opacity: 0.65;
  top: 39%;
  left: 49%;
  /* color: #0b0303; */
  color: #716666;
}
.loginbtn button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-weight: bold;
  opacity: 0.65;
  top: 42%;
  left: 49%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 483px;
}
.hr-lines {
  position: relative;
  top: -358px;
  left: 230px;
  max-width: 474px;
  margin: 100px auto;
  text-align: center;
  color: darkgrey;
}

.hr-lines:before {
  content: " ";
  height: 2px;
  width: 130px;
  background: rgb(109, 108, 108);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 130px;
  background: rgb(109, 108, 108);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
